################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/front-pnj-generator
/front-pnj-generator/.editorconfig
/front-pnj-generator/.gitignore
/front-pnj-generator/.vs/front-pnj-generator.slnx/FileContentIndex
/front-pnj-generator/.vs/front-pnj-generator.slnx/FileContentIndex/7ad18705-d4c6-4f09-bedb-19690ef4e0f9.vsidx
/front-pnj-generator/.vs/front-pnj-generator.slnx/FileContentIndex/e13a8a4d-6f0a-4d01-af52-75978b7d7f64.vsidx
/front-pnj-generator/angular.json
/front-pnj-generator/package-lock.json
/front-pnj-generator/package.json
/front-pnj-generator/README.md
/front-pnj-generator/tsconfig.app.json
/front-pnj-generator/tsconfig.json
/front-pnj-generator/tsconfig.spec.json
